<?xml version="1.0" encoding="UTF-8"?>
<!-- status    The level of internal Log4j events that should be logged to the console. -->
<!-- name      The name of the configuration. -->
<!-- packages  A comma separated list of package names to search for plugins. -->
<!-- verbose Enables diagnostic information while loading plugins.-->
<Configuration status="info" name="RoutingLoggingConfiguration" packages="org.log4j2plugin" verbose="false">
    <Properties>
        <Property name="routing_filename">${log.path}/type-$${sd:type}.log</Property>
        <Property name="alpha_log_filename">${log.path}/alpha_log.log</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{yyyyMMddHH}{GMT+0} %m%n"/>
        </Console>

        <Routing name="Routing">
            <Routes pattern="$${sd:type}">
                <Route>
                    <RollingFile name="RollingFile-${sd:type}"
                                 fileName="${routing_filename}"
                                 filePattern="${log.path}/%d{yyyyMMdd}{GMT+0}/%d{yyyyMMddHH}{GMT+0}-${sd:type}-${hostName}.%i.log.gz">
                        <StructuredDataFilter onMatch="DENY" onMismatch="NEUTRAL">
                            <KeyValuePair key="id.name" value="SKIP"/>
                        </StructuredDataFilter>
                        <PatternLayout>
                            <!-- %K{v} stands for the message passed in StructuredDataMessage map with key "v" -->
                            <!-- %n stands for new line -->
                            <Pattern>%d{yyyyMMddHH}{GMT+0},'%d{yyyy-MM-dd HH:mm:ss}{GMT+0}',%K{v}%n</Pattern>
                        </PatternLayout>
                        <Policies>
                            <FTimeBasedTriggeringPolicy interval="1"/>
                            <SizeBasedTriggeringPolicy size="64 MB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="999"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

        <RollingFile name="RollingFile-AlphaLog"
                     fileName="${alpha_log_filename}"
                     filePattern="${log.path}/alpha_log/%d{yyyyMMdd}{GMT+0}-${hostName}.%i.log.gz">
            <RegexFilter regex="^$" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout>
                <Pattern>%d{yyyyMMddHH}{GMT+0} %m %n</Pattern>
            </PatternLayout>
            <Policies>
                <FTimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="64 MB" />
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="EventLogger" level="debug" additivity="false">
            <AppenderRef ref="Routing"/>
        </Logger>

        <Logger name="AlphaLogger" level="info" additivity="false">
            <AppenderRef ref="RollingFile-AlphaLog"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>
